*,
::after,
::before {

  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  background:hsl(210, 36%, 96%);
  line-height: 1.5;
  font-size: 20px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: green;
}






/*
=============== 
Navbar
===============
*/
nav {

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.nav-header>p{
    font-size: 40px;
}
.nav-toggle {
  font-size: 20px;
  color: green;
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
}
.nav-toggle:hover {
  color: green;
  transform: rotate(90deg);
}
.logo {
  height: 40px;
}
.links a {

  font-size: 20px;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.3s linear;
}
.links a:hover {

  color: green;
  padding-left: 1.5rem;
}
.loginLinks {
  display: none;
  color: green;
}
.links {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}
.show-links {
  height: 10rem;
}
@media screen and (min-width: 1000px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    font-size: 20px;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    height: auto;
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .loginLinks {
    display: flex;
  }
  .loginLinks a {
    margin: 0 0.5rem;

    transition: all 0.3s linear;
  }
  .loginLinks a:hover {
    color: all 0.3s linear;
  }
}

  


footer {
    display: flex;
    background: lightblue;
    bottom: 0%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

footer > div {
    margin: 3em;
}

.footerNavItems {
   
    text-align: right;
}


/*.headerNav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .headerNav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .headerNav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .headerNav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .headerNav a:not(:first-child) {display: none;}
    .headerNav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .headerNav.responsive {position: relative;}
    .headerNav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .headerNav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  } */
